---
extends: default

rules:
  document-start:
    ignore: |
      .pre-commit-config.yaml
      {{_copier_conf.answers_file}}
      Taskfile.yaml
  new-line-at-end-of-file: disable
  new-lines:
    type: unix
